
.row > [class^=col], .row-2 >  [class^=col]{
    min-height: 60px;
    background-color: rgb(38, 0, 255);
    padding: 1em;
    border: 2px solid white;
    color:white
}
.row-2 >  [class^=col]{
    min-height: 120px;
}
.row .row > [class^=col],.row-2 .row-2 > [class^=col] {
    background-color: rgb(52, 2, 39);
    border-color: rgb(38, 0, 255);
    
}
.margin-bottom{
    margin-bottom: 20px;
}
.no-padding{
    padding: 0;
}
.b-transparent{
    background-color: transparent;
}

